<div class="slider-area slider-bg ">
    <!-- Single Slider -->
    <div class="single-slider d-flex align-items-center slider-height3">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-xl-8 col-lg-9 col-md-12 ">
                    <div class="hero__caption hero__caption3 text-center">
                        <h1 data-animation="fadeInLeft" data-delay=".6s ">Activities</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>    
    <!-- Slider Shape -->
    <div class="slider-shape d-none d-lg-block">
        <img class="slider-shape1" src="assets/img/hero/top-left-shape.png" alt="">
    </div>
</div>
<!-- Slider Area End -->
<!-- Hero Area End-->
<!--? Blog Area Start-->
<section class="blog_area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-5 mb-lg-0">
                <div class="blog_left_sidebar">
                    <article class="blog_item">
                        <div class="blog_item_img">
                            <img class="card-img rounded-0" src="assets/img/blog/tsyp11.jpg" alt="">
                            <a href="#" class="blog_item_date">
                                <h3>19</h3>
                                <p>Dec</p>
                                <h3>2023</h3>
                            </a>
                        </div>
                        <div class="blog_details">
                            <a class="d-inline-block" href="blog_details.html">
                                <h2 class="blog-head" style="color: #2d2d2d;">IEEE AESS TUNISIA CHAPTER TSYP TECHNICAL CHALLENGE
                                </h2>
                            </a>
                            <p>The primary goal of our challenge is to foster innovation and inspire participants to design advanced features for human-powered rovers. Through this challenge, we aim to encourage problem-solving skills, hands-on learning, and teamwork in the field of aerospace engineering, all while addressing real-world issues related to space exploration.

                                Student Branches will participate with oneteam. Each team can have a maximum oftwo members who will present their ideasduring a 7-minute pitch.
                                
                                The winning Student Branch or Team will receive a prestigious award of 150 USD.
                                
                                The pitching phase is scheduled to takeplace at the IEEE TSYP 11, December 19th, 2023.</p>
                            <ul class="blog-info-link">
                                <li><a href="#"><i class="fa fa-globe"></i> Medina Congress Center, Yasmine Hammamet
                                    Hotel Diar Lemdina
                                    Hammamet, Nabeul
                                    Tunisia</a></li>
                             </ul>
                        </div>
                    </article>
                    <article class="blog_item">
                        <div class="blog_item_img">
                            <img class="card-img rounded-0" src="assets/img/blog/aesstalk.jpg" alt="">
                            <a href="#" class="blog_item_date">
                                <h3>30</h3>
                                <p>Nov</p>
                                <h3>2023</h3>
                            </a>
                        </div>
                        <div class="blog_details">
                            <a class="d-inline-block" href="blog_details.html">
                                <h2 class="blog-head" style="color: #2d2d2d;">AESS TALK</h2>
                            </a>
                            <p>During the AESS Talk, Dr. Sabrina Greco, President of AESS 2024, was our special speaker for the informational session regarding the AESS chapter. Following that, we engaged in a discussion about our challenges for the TSYP 11 conference, scheduled to take place from December 18th to 20th, 2024, at the Medina Congress Center in Yasmine Hammamet.</p>
                            <ul class="blog-info-link">
                                <li><a href="#"><i class="fa fa-globe"></i> Via Google Meet</a></li>
                             </ul>
                        </div>
                    </article>
                    <article class="blog_item">
                        <div class="blog_item_img">
                            <img class="card-img rounded-0" src="assets/img/blog/jotijota.jpg" alt="">
                            <a href="#" class="blog_item_date">
                                <h3>20-21-21</h3>
                                <p>Oct</p>
                                <h3>2023</h3>

                            </a>
                        </div>
                        <div class="blog_details">
                            <a class="d-inline-block" href="blog_details.html">
                                <h2 class="blog-head" style="color: #2d2d2d;">JOTA-JOTI</h2>
                            </a>
                            <p>JOTA-JOTI 23 is the world's largest digital Scout event taking place in Tunisia. This educational event unites over 90 Scouts annually in October for a weekend of Scouting and fostering friendships. It offers young people the opportunity to explore communication technology and establish connections with fellow Scouts.
                                We actively participated in this event to enhance the visibility of our chapter and its initiatives.</p>
                            <ul class="blog-info-link">
                                <li><a href="#"><i class="fa fa-globe"></i> Camping Center
                                    ,Borj Cedria
                                    ,Ben Arous
                                    Tunisia</a></li>
                             </ul>
                        </div>
                    </article>
                    <article class="blog_item">
                        <div class="blog_item_img">
                            <img class="card-img rounded-0" src="assets/img/blog/atec.jpg" alt="">
                            <a href="#" class="blog_item_date">
                                <h3>14</h3>
                                <p>Oct</p>
                                <h3>2023</h3>

                            </a>
                        </div>
                        <div class="blog_details">
                            <a class="d-inline-block" href="blog_details.html">
                                <h2 class="blog-head" style="color: #2d2d2d;">ATEC'23</h2>
                            </a>
                            <p>On October 14th, 2023, in partnership with the AESS ESPRIT Student Chapter at ESPRIT University, we orchestrated an unforgettable event that united aerospace and communication enthusiasts ! 🛰️🔧 
                                From a captivating keynote to networking luncheons, ATEC 2023 sparked collaboration and idea-sharing.  
                                Dive into the future of space exploration, IoT in aerospace, and AI advancements that kept us all on the edge of our seats! 
                                 The day also featured a pulse-pounding debate competition, allowing participants to express their opinions on the future of aerospace, fostering critical thinking and communication skills.
                             <ul class="blog-info-link">
                                <li><a href="#"><i class="fa fa-globe"></i> ESPRIT School of Business
                                    Ariana, Ariana
                                    Tunisia
                                    Building: BLOC L</a></li>
                             </ul>
                        </div>
                    </article>
                    <article class="blog_item">
                        <div class="blog_item_img">
                            <img class="card-img rounded-0" src="assets/img/blog/aessinfo.jpg" alt="">
                            <a href="#" class="blog_item_date">
                                <h3>03</h3>
                                <p>Aug</p>
                                <h3>2023</h3>

                            </a>
                        </div>
                        <div class="blog_details">
                            <a class="d-inline-block" href="blog_details.html">
                                <h2 class="blog-head" style="color: #2d2d2d;">IEEE AESS TUNISIA SECTION INFO SESSION
                                </h2>
                            </a>
                            <p>The IEEE AESS Tunisia Section proudly hosted the 'IEEE AESS Tunisia Section Info Session,' featuring Mr. Mark E. Davis as the distinguished speaker. The event took place online via Google Meet on August 3rd, uniting a diverse audience of professionals, students, IEEE members, and enthusiasts in the field of Aerospace and Electronic Systems.</p>
                            <ul class="blog-info-link">
                                <li><a href="#"><i class="fa fa-globe"></i> Via Google Meet</a></li>
                            </ul>
                        </div>
                    </article>
                    <article class="blog_item">
                        <div class="blog_item_img">
                            <img class="card-img rounded-0" src="assets/img/blog/sectionmeet.jpg" alt="">
                            <a href="#" class="blog_item_date">
                                <h3>13-14</h3>
                                <p>May</p>
                                <h3>2023</h3>

                            </a>
                        </div>
                        <div class="blog_details">
                            <a class="d-inline-block" href="blog_details.html">
                                <h2 class="blog-head" style="color: #2d2d2d;">Pearl Marriott Resort & Spa Hotel
                                    ,Sousse
                                    Tunisia</h2>
                            </a>
                            <p>The IEEE Tunisia Section Committee is the governing body of the section and has some specific duties, but most importantly, it should be a team working together, defining priorities, exchanging ideas, implementing them, reflecting on the outcomes, and planning for the future. In this spirit, we actively participated in the IEEE Tunisia Section Committee Meeting, held on May 13th and 14th at the Pearl Marriott Resort & Spa Hotel in Sousse.

                            </p>
                            <ul class="blog-info-link">
                                <li><a href="#"><i class="fa fa-user"></i> Travel, Lifestyle</a></li>
                                <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>
                            </ul>
                        </div>
                    </article>
                    
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget search_widget">
                        <form action="#">
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder='Search Keyword'
                                    onfocus="this.placeholder = ''"
                                    onblur="this.placeholder = 'Search Keyword'">
                                    <div class="input-group-append">
                                        <button class="btns" type="button"><i class="ti-search"></i></button>
                                    </div>
                                </div>
                            </div>
                            <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                            type="submit">Search</button>
                        </form>
                    </aside>
                     
                     
                     

                    
                    
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Area End -->

