    
    <!-- Slider Area Start-->
    <div class="slider-area " data-vide-bg="assets/img/hero/home4.jpg" id="top">
        <div class="slider-active">
            <!-- Single Slider -->
            <div class="single-slider d-flex align-items-center slider-height ">
                <div class="container">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-xl-5 col-lg-2 col-md-2 ">
                            <div class="hero__caption">
                                <h1 data-animation="fadeInLeft" data-delay=".6s " style="color:#ffffff">The sky is not the limit, it's just the beginning.</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>      
            
        </div>
        <!-- Slider Shape -->
        <div class="slider-shape d-none d-lg-block">
            <img class="slider-shape1" src="assets/img/hero/top-left-shape.png" alt="">
        </div>
    </div>
    <!-- Slider Area End -->
    
   
<!-- Domain-search End -->
<!--? Team -->
 
<!-- Services End -->
<!--? Pricing Card Start -->
<section class="pricing-card-area fix">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-8">
                <div class="section-tittle text-center mb-90">
                    <h2> IEEE AESS  TUNISIA CHAPTER</h2>
                 </div>
            </div>
        </div>
        
    </div>
</section>
<!-- Pricing Card End -->
<!--? About-1 Area Start -->
<div class="about-area1 section-padding40">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-xl-5 col-lg-5 col-md-8 col-sm-10">
                <!-- about-img -->
                <div class="about-img ">
                    <img src="assets/img/gallery/about1.jpg" alt="">
                </div>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-12">
                <div class="about-caption ">
                    <!-- Section Tittle -->
                    <div class="section-tittle section-tittle2 mb-30">
                        <h2>Field of Interest</h2>
                    </div>
                    <p class="mb-40"> 
                        The scope of interest encompasses the organization, systems engineering, design, development, integration, and operation of intricate systems within space, air, ocean, or ground environments. This broad field encompasses a diverse range of systems, including but not limited to navigation, avionics, mobile electric power and electronics, radar, sonar, telemetry, military applications, law-enforcement systems, automatic test systems, simulators, and command and control structures. This comprehensive perspective reflects the multifaceted nature of our focus, highlighting the intricate interplay between various technological domains aimed at advancing and optimizing complex systems across different environments</p>
                     
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About-1 Area End -->
<!--? About-2 Area Start -->
<div class="about-area1 pb-bottom">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-xl-7 col-lg-7 col-md-12">
                <div class="about-caption about-caption3 mb-50">
                    <!-- Section Tittle -->
                    <div class="section-tittle section-tittle2 mb-30">
                        <h2>Mission</h2>
                    </div>
                    <p class="mb-40">The mission of AESS is to establish a dynamic and pertinent professional society that draws in, involves, supports, and preserves a diverse community of members worldwide. This diversity encompasses various dimensions, such as age, culture, and community perspectives—spanning theoretical, managerial, and practical applications—aligned with the fields of interest outlined in our constitution. AESS is committed to achieving this mission through a range of activities, including technical initiatives, chapter and society engagements, conferences, publications, education, technical operations, industry relations, and member services. Through these endeavors, AESS aims to create an inclusive and vibrant community that actively contributes to the advancement of knowledge and excellence in our shared fields.</p>
                     
                 </div>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-8 col-sm-10">
                <!-- about-img -->
                <div class="about-img ">
                    <img src="assets/img/gallery/about2.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="about-area1 section-padding0">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-xl-5 col-lg-5 col-md-8 col-sm-10">
                <!-- about-img -->
                <div class="about-img ">
                    <img src="assets/img/gallery/about3.jpg" alt="">
                </div>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-12">
                <div class="about-caption ">
                    <!-- Section Tittle -->
                    <div class="section-tittle section-tittle2 mb-30">
                        <h2>Vision</h2>
                    </div>
                    <p class="mb-40">
                        The vision of AESS is to establish itself as an indispensable entity within the global technical community, renowned for its exceptional contributions in the aerospace and electronic systems fields. This recognition is to be substantiated through the society's impactful products, services, and offerings. AESS aspires to be a leader in various domains, including conferences, publications, education, technical operations, industry relations, and member services. Through these channels, AESS seeks to make enduring contributions and be acknowledged as a key player dedicated to advancing knowledge, fostering innovation, and providing valuable resources to its members and the broader technical community.</p>
                     
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About-2 Area End -->
<!-- ask questions -->
<section class="ask-questions section-bg1 section-padding30 fix">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-9 col-md-10 ">
                <!-- Section Tittle -->
                <div class="section-tittle text-center mb-90">
                    <h2>Executive Board</h2>
                 </div>
            </div>
        </div>
        <div class="row">
           <section class="team-section py-5">
    <div class="container">
	    <div class="row justify-content-center">
		    <div class="col-12 col-md-6">
			    <div class="card border-0 shadow-lg pt-5 my-5 position-relative">
				    <div class="card-body p-4">
					    <div class="member-profile position-absolute w-100 text-center">
					        <img class="rounded-circle mx-auto d-inline-block shadow-sm" src="assets/img/hero/tarek.jpg" alt="">
				        </div>
					    <div class="card-text pt-5">
						    <h5 class="member-name mb-0 text-center text-primary font-weight-bold">Tarek LOUKIL</h5>
						    <div class="mb-3 text-center">Chair</div>
                            <div class="mb-3 text-center">tarek.loukil@ieee.org</div>

 					    </div>
				    </div><!--//card-body-->
				    <div class="card-footer theme-bg-primary border-0 text-center">
					    <ul class="social-list list-inline mb-0 mx-auto">
                            <li class="list-inline-item"><a class="text-dark" href="#"><svg class="svg-inline--fa fa-linkedin-in fa-w-14 fa-fw" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="linkedin-in" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z"></path></svg><!-- <i class="fab fa-linkedin-in fa-fw"></i> Font Awesome fontawesome.com --></a></li>
                             <li class="list-inline-item"><a class="text-dark" href="#"><svg class="svg-inline--fa fa-facebook-f fa-w-10 fa-fw" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook-f" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"></path></svg><!-- <i class="fab fa-facebook-f fa-fw"></i> Font Awesome fontawesome.com --></a></li>
 			                
			            </ul><!--//social-list-->
				    </div><!--//card-footer-->
			    </div><!--//card-->
		    </div><!--//col-->
		    
		    <div class="col-12 col-md-6">
			    <div class="card border-0 shadow-lg pt-5 my-5 position-relative">
				    <div class="card-body p-4">
					    <div class="member-profile position-absolute w-100 text-center">
					        <img class="rounded-circle mx-auto d-inline-block shadow-sm" src="assets/img/hero/abir.jpg" alt="">
				        </div>
					    <div class="card-text pt-5">
						    <h5 class="member-name mb-0 text-center text-primary font-weight-bold">Abir TABARKI</h5>
						    <div class="mb-3 text-center">Vice-Chair</div>
                            
                            <div class="mb-3 text-center">abirtabarki@ieee.org</div>

 					    </div>
				    </div><!--//card-body-->
				    <div class="card-footer theme-bg-primary border-0 text-center">
					    <ul class="social-list list-inline mb-0 mx-auto">
                            <li class="list-inline-item"><a class="text-dark" href="#"><svg class="svg-inline--fa fa-linkedin-in fa-w-14 fa-fw" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="linkedin-in" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z"></path></svg><!-- <i class="fab fa-linkedin-in fa-fw"></i> Font Awesome fontawesome.com --></a></li>
                             <li class="list-inline-item"><a class="text-dark" href="#"><svg class="svg-inline--fa fa-facebook-f fa-w-10 fa-fw" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook-f" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"></path></svg><!-- <i class="fab fa-facebook-f fa-fw"></i> Font Awesome fontawesome.com --></a></li>
			            </ul><!--//social-list-->
				    </div><!--//card-footer-->
			    </div><!--//card-->
		    </div><!--//col-->
		    
		    <div class="col-12 col-md-6 col-lg-4">
			    <div class="card border-0 shadow-lg pt-5 my-5 position-relative">
				    <div class="card-body p-4">
					    <div class="member-profile position-absolute w-100 text-center">
					        <img class="rounded-circle mx-auto d-inline-block shadow-sm" src="assets/img/hero/oussema.jpg" alt="">
				        </div>
					    <div class="card-text pt-5">
						    <h5 class="member-name mb-0 text-center text-primary font-weight-bold">Oussema LAAJILI</h5>
						    <div class="mb-3 text-center">Secretary General</div>
						    <div class="mb-3 text-center">oussama.laajili@ieee.org</div>

 					    </div>
				    </div><!--//card-body-->
				    <div class="card-footer theme-bg-primary border-0 text-center">
					    <ul class="social-list list-inline mb-0 mx-auto">
                            <li class="list-inline-item"><a class="text-dark" href="#"><svg class="svg-inline--fa fa-linkedin-in fa-w-14 fa-fw" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="linkedin-in" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z"></path></svg><!-- <i class="fab fa-linkedin-in fa-fw"></i> Font Awesome fontawesome.com --></a></li>
                            <li class="list-inline-item"><a class="text-dark" href="#"><svg class="svg-inline--fa fa-facebook-f fa-w-10 fa-fw" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook-f" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"></path></svg><!-- <i class="fab fa-facebook-f fa-fw"></i> Font Awesome fontawesome.com --></a></li>

 			            </ul><!--//social-list-->
				    </div><!--//card-footer-->
			    </div><!--//card-->
		    </div><!--//col-->
		    <div class="col-12 col-md-6 col-lg-4">
			    <div class="card border-0 shadow-lg pt-5 my-5 position-relative">
				    <div class="card-body p-4">
					    <div class="member-profile position-absolute w-100 text-center">
					        <img class="rounded-circle mx-auto d-inline-block shadow-sm" src="assets/img/hero/rayen.jpg" alt="">
				        </div>
					    <div class="card-text pt-5">
						    <h5 class="member-name mb-0 text-center text-primary font-weight-bold">Rayen MELLEKH</h5>
						    <div class="mb-3 text-center">Treasurer</div>
						    <div class="mb-3 text-center">rayen.mallekh@ieee.org</div>

						     
					    </div>
				    </div><!--//card-body-->
				    <div class="card-footer theme-bg-primary border-0 text-center">
					    <ul class="social-list list-inline mb-0 mx-auto">
				            <li class="list-inline-item"><a class="text-dark" href="#"><svg class="svg-inline--fa fa-linkedin-in fa-w-14 fa-fw" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="linkedin-in" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z"></path></svg><!-- <i class="fab fa-linkedin-in fa-fw"></i> Font Awesome fontawesome.com --></a></li>
                             <li class="list-inline-item"><a class="text-dark" href="#"><svg class="svg-inline--fa fa-facebook-f fa-w-10 fa-fw" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook-f" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"></path></svg><!-- <i class="fab fa-facebook-f fa-fw"></i> Font Awesome fontawesome.com --></a></li>
			            </ul><!--//social-list-->
				    </div><!--//card-footer-->
			    </div><!--//card-->
		    </div><!--//col-->
		    <div class="col-12 col-md-6 col-lg-4">
			    <div class="card border-0 shadow-lg pt-5 my-5 position-relative">
				    <div class="card-body p-4">
					    <div class="member-profile position-absolute w-100 text-center">
					        <img class="rounded-circle mx-auto d-inline-block shadow-sm" src="assets/img/hero/7829385.jpg" alt="">
				        </div>
					    <div class="card-text pt-5">
						    <h5 class="member-name mb-0 text-center text-primary font-weight-bold">Mohamed karim OUESLATI</h5>
						    <div class="mb-3 text-center">Webmaster</div>
						    <div class="mb-3 text-center">mohamedkarim.oueslati@ieee.org</div>
					    </div>
				    </div><!--//card-body-->
				    <div class="card-footer theme-bg-primary border-0 text-center">
					    <ul class="social-list list-inline mb-0 mx-auto">
				            <li class="list-inline-item"><a class="text-dark" href="#"><svg class="svg-inline--fa fa-linkedin-in fa-w-14 fa-fw" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="linkedin-in" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z"></path></svg><!-- <i class="fab fa-linkedin-in fa-fw"></i> Font Awesome fontawesome.com --></a></li>
                             <li class="list-inline-item"><a class="text-dark" href="#"><svg class="svg-inline--fa fa-facebook-f fa-w-10 fa-fw" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook-f" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"></path></svg><!-- <i class="fab fa-facebook-f fa-fw"></i> Font Awesome fontawesome.com --></a></li>
			            </ul><!--//social-list-->
				    </div><!--//card-footer-->
			    </div><!--//card-->
		    </div><!--//col-->
	    </div><!--//row-->
	    
    </div>
    
</section>
        </div>
         
    </div>
</section>
<!-- End ask questions -->
<!--? Testimonial Area Start -->

<div id="back-top" >
    <a title="Go to Top" href="#top"> <i class="fas fa-level-up-alt"></i></a>
</div>
 
<!--? Testimonial Area End -->
 