<div class="footer-wrappr gg">
    <div class="footer-area footer-padding ">
        <div class="container">
            <div class="row d-flex justify-content-between">
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                    <div class="single-footer-caption mb-50">
                        <!-- logo -->
                        <div class="footer-logo mb-50">
                            <a href="index.html"><img  src="assets/img/logo/a.png" alt="hhhhh"></a>
                        </div>
                        <div class="footer-tittle mb-50">
                            <p>Subscribe our newsletter to get updates about our services</p>
                        </div>
                        <!-- Form -->
                        
                        <!-- social -->
                        <div class="footer-social mt-50">
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="https://bit.ly/sai4ull"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1"></div>
                <div class="col-xl-2 col-lg-2 col-md-4 col-sm-5">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>Company</h4>
                            <ul>
                                <li><a href="#">Why choose us</a></li>
                                <li><a href="#"> Review</a></li>
                                <li><a href="#">Customers</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Carrier</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-4 col-sm-5">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>Products</h4>
                            <ul>
                                <li><a href="#">Why choose us</a></li>
                                <li><a href="#"> Review</a></li>
                                <li><a href="#">Customers</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Carrier</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-4 col-sm-5">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>Support</h4>
                            <ul>
                                <li><a href="#">Technology</a></li>
                                <li><a href="#">  Products</a></li>
                                <li><a href="#">Customers</a></li>
                                <li><a href="#">Quality</a></li>
                                <li><a href="#">Sales geography</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer-bottom area -->
    <div class="footer-bottom-area">
        <div class="container">
            <div class="footer-border">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="footer-copy-right text-center">
                            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                              Copyright  All rights reserved 
                              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>

                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
 