.gg {
    background-image: url("assets/img/gallery/footer-bg.png");
  }

  .top {
    position: fixed;
    bottom: 20px;
    right: 25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(224, 223, 233, 0.7);
    visibility: hidden;
    cursor: pointer;
    transition: all .2s ease;
    z-index: 1100;
  }
  .center-horizontal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust the height as needed */
}

.custom-slider {
  min-width:100  ; /* Adjust the position as needed */
  
}
  

/*.a{
  background-image: url("src/assets/img/gallery/section_bg04.png")
}*/




